<a href="https://colab.research.google.com/github/NehaPatil3545/AI/blob/main/Practical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Automobile_data1.csv to Automobile_data1 (1).csv

In [ ]:
import pandas as pd
import io
import numpy as np

In [ ]:
df=pd.read_csv(io.BytesIO(uploaded['Automobile_data1.csv']))

In [ ]:
df.head()

,symboling,make,fuel-type,body-style,drive-wheels,wheel-base,length,width,height,horsepower,peak-rpm,highway-mpg,city-mpg,price
0,3,alfa-romero,gas,convertible,rwd,88.6,168.8,64.1,48.8,111.0,5000,27,21,13495
1,3,alfa-romero,gas,convertible,rwd,88.6,168.8,64.1,48.8,111.0,5000,27,21,16500
2,1,alfa-romero,gas,hatchback,rwd,94.5,171.2,65.5,52.4,154.0,5000,26,19,16500
3,2,audi,gas,sedan,fwd,99.8,176.6,66.2,54.3,102.0,5500,30,24,13950
4,2,audi,gas,sedan,4wd,99.4,176.6,66.4,54.3,115.0,5500,22,18,17450

In [ ]:
df.shape

(205, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   symboling     205 non-null    int64
 1   make          205 non-null    object
 2   fuel-type     205 non-null    object
 3   body-style    205 non-null    object
 4   drive-wheels  205 non-null    object
 5   wheel-base    205 non-null    float64
 6   length        205 non-null    float64
 7   width         205 non-null    float64
 8   height        205 non-null    float64
 9   horsepower    203 non-null    float64
 10  peak-rpm      205 non-null    int64
 11  highway-mpg   205 non-null    int64
 12  city-mpg      205 non-null    int64
 13  price         205 non-null    int64
dtypes: float64(5), int64(5), object(4)
memory usage: 22.5+ KB

In [ ]:
df.describe()

,symboling,wheel-base,length,width,height,horsepower,peak-rpm,highway-mpg,city-mpg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,203.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,104.532020,5127.804878,30.751220,25.219512,13476.258537
std,1.245307,6.021776,12.337289,2.145204,2.443522,40.444837,478.414007,6.886443,6.542142,8114.166248
min,-2.000000,86.600000,141.100000,60.300000,47.800000,48.000000,4150.000000,16.000000,13.000000,5118.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,70.000000,4800.000000,25.000000,19.000000,7788.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,95.000000,5200.000000,30.000000,24.000000,10595.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,116.000000,5500.000000,34.000000,30.000000,16558.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,288.000000,6600.000000,54.000000,49.000000,45400.000000

In [ ]:
df.isnull()

,symboling,make,fuel-type,body-style,drive-wheels,wheel-base,length,width,height,horsepower,peak-rpm,highway-mpg,city-mpg,price
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

symboling       0
make            0
fuel-type       0
body-style      0
drive-wheels    0
wheel-base      0
length          0
width           0
height          0
horsepower      2
peak-rpm        0
highway-mpg     0
city-mpg        0
price           0
dtype: int64

In [ ]:
df.notnull()

,symboling,make,fuel-type,body-style,drive-wheels,wheel-base,length,width,height,horsepower,peak-rpm,highway-mpg,city-mpg,price
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,True,True,True,True,True,True,True,True,True,True,True,True,True,True
201,True,True,True,True,True,True,True,True,True,True,True,True,True,True
202,True,True,True,True,True,True,True,True,True,True,True,True,True,True
203,True,True,True,True,True,True,True,True,True,True,True,True,True,True
204,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [ ]:
df.notnull().sum()

symboling       205
make            205
fuel-type       205
body-style      205
drive-wheels    205
wheel-base      205
length          205
width           205
height          205
horsepower      203
peak-rpm        205
highway-mpg     205
city-mpg        205
price           205
dtype: int64

In [ ]:
avg_horsepower=df["horsepower"].astype("float").mean(axis=0)

In [ ]:
print("avg_horsepower",avg_horsepower)

avg_horsepower 104.5320197044335

In [ ]:
df["horsepower"].replace(np.nan,avg_horsepower,inplace=True)

In [ ]:
df.notnull().sum()

symboling       205
make            205
fuel-type       205
body-style      205
drive-wheels    205
wheel-base      205
length          205
width           205
height          205
horsepower      205
peak-rpm        205
highway-mpg     205
city-mpg        205
price           205
dtype: int64

In [ ]:
df.dtypes

symboling         int64
make             object
fuel-type        object
body-style       object
drive-wheels     object
wheel-base      float64
length          float64
width           float64
height          float64
horsepower      float64
peak-rpm          int64
highway-mpg       int64
city-mpg          int64
price             int64
dtype: object

In [ ]:
df["horsepower"]=df["horsepower"].astype("int")

In [ ]:
df.dtypes

symboling         int64
make             object
fuel-type        object
body-style       object
drive-wheels     object
wheel-base      float64
length          float64
width           float64
height          float64
horsepower        int64
peak-rpm          int64
highway-mpg       int64
city-mpg          int64
price             int64
dtype: object

In [ ]:
df['city-L/100km']=235/df["city-mpg"]
df.head()

,symboling,make,fuel-type,body-style,drive-wheels,wheel-base,length,width,height,horsepower,peak-rpm,highway-mpg,city-mpg,price,city-L/100km
0,3,alfa-romero,gas,convertible,rwd,88.6,168.8,64.1,48.8,111,5000,27,21,13495,11.190476
1,3,alfa-romero,gas,convertible,rwd,88.6,168.8,64.1,48.8,111,5000,27,21,16500,11.190476
2,1,alfa-romero,gas,hatchback,rwd,94.5,171.2,65.5,52.4,154,5000,26,19,16500,12.368421
3,2,audi,gas,sedan,fwd,99.8,176.6,66.2,54.3,102,5500,30,24,13950,9.791667
4,2,audi,gas,sedan,4wd,99.4,176.6,66.4,54.3,115,5500,22,18,17450,13.055556

In [ ]:
df['fuel-type'].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [ ]:
dummy_variable=pd.get_dummies(df["fuel-type"])
dummy_variable.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [ ]:
df=pd.concat([df,dummy_variable],axis=1)
df.drop("fuel-type",axis=1,inplace=True)
df.head()

,symboling,make,body-style,drive-wheels,wheel-base,length,width,height,horsepower,peak-rpm,highway-mpg,city-mpg,price,city-L/100km,diesel,gas,diesel,gas,diesel,gas
0,3,alfa-romero,convertible,rwd,88.6,168.8,64.1,48.8,111,5000,27,21,13495,11.190476,0,1,0,1,0,1
1,3,alfa-romero,convertible,rwd,88.6,168.8,64.1,48.8,111,5000,27,21,16500,11.190476,0,1,0,1,0,1
2,1,alfa-romero,hatchback,rwd,94.5,171.2,65.5,52.4,154,5000,26,19,16500,12.368421,0,1,0,1,0,1
3,2,audi,sedan,fwd,99.8,176.6,66.2,54.3,102,5500,30,24,13950,9.791667,0,1,0,1,0,1
4,2,audi,sedan,4wd,99.4,176.6,66.4,54.3,115,5500,22,18,17450,13.055556,0,1,0,1,0,1